{# src/SiteRI/SiteBundle/Resources/views/Site/document.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Mes Documents - {{ parent() }}
{% endblock %}

{% block body %}
    <h2><center><u>Gestion de mes documents</u></center></h2>
    <h3>Mes documents</h3>
    {% if documents is not null %}
    <table>
        {% for document in documents %}
            <tr><td style="font-weight: bold">{{document.docnom}}</td> <td> Date de dépôt : {{document.docdatedepot|date('d-m-Y H:i:s')}}</td>
                <td><a href="{{ path('risite_document_dl', {'user_id':app.user.id, 'id':document.id}) }}">Télécharger</a></td>
                <td><a href="{{ path('risite_document_suppr', {'user_id':app.user.id, 'id':document.id}) }}">Supprimer</a></td></tr>
        {%endfor%}
    </table>
    {% else %}
        Je n'ai pas encore de documents. <br>
    {% endif %}
    <h3>Déposer un document</h3>
    {% include "RISiteBundle:Site:formulaire.html.twig" %}
{% endblock %}