{# src/SiteRI/SiteBundle/Resources/views/Site/document.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Mes Documents - {{ parent() }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        Notification: {{ flashMessage }}
    </div>
{% endfor %}
    <h2>Gestion de mes documents</h2>
    <h3>Les documents publics</h3>
    {% if documentSecretaire is not null %}
    <table>
        {% for document in documentSecretaire %}
            <tr><td style="font-weight: bold">{{document.docnom}}</td> <td> Date de dépôt : {{document.docdatedepot|date('d-m-Y')}} à {{document.docdatedepot|date('H:i:s')}}</td>
                <td><div class ="download"><a href="{{ path('risite_document_dl_public', {'id':document.id}) }}">Télécharger</a></div></td></tr>
        {%endfor%}
    </table>
    {% endif %}
    <h3>Mes documents</h3>
    {% if documents is not null %}
    <table>
        {% for document in documents %}
            <tr><td style="font-weight: bold">{{document.docnom}}</td> <td> Date de dépôt : {{document.docdatedepot|date('d-m-Y')}} à {{document.docdatedepot|date('H:i:s')}}</td>
                <td><div class ="download"><a href="{{ path('risite_document_dl', {'id':document.id}) }}">Télécharger</a></div></td>
                <td><div class ="delete"><a href="{{ path('risite_document_suppr', {'id':document.id}) }}">Supprimer</a></div></td></tr>
        {%endfor%}
    </table>
    {% endif %}
    <h3>Déposer un document</h3>
    {% if is_granted('ROLE_SECRETARY') or is_granted('ROLE_ADMIN') %}
    <p>Dans cette section, les documents envoyés seront publics. Il s'agit de documents informatifs.</p>
    {%endif%}
    {% include "RISiteBundle:Site:formulaire.html.twig" %}
    
    {% if is_granted('ROLE_SECRETARY') or is_granted('ROLE_ADMIN') %}
    <h3>Envoi ou consultation de documents d'un utilisateur</h3>
    {% include "RISiteBundle:Site:formulaire2.html.twig" %}
    
    
    {%endif%}
{% endblock %}