{# src/SiteRI/SiteBundle/Resources/views/Site/index.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block siteRI_body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        Notice: {{ flashMessage }}
    </div>
{% endfor %}
    <h2><center>Bienvenue sur le Site des Relations Internationales</center></h2>
    <p>Les stages sont une étape nécessaire dans le cursus scolaire afin d'assurer une intégration
    dans le monde du travail. <br>
    L'IUT de Lens propose à ses étudiants de partir à l'étranger pour obtenir avec l'expérience d'autres
    qualités telles que le relationnel ou l'apprentissage et l'amélioration d'une ou plusieurs langues.<br>
    </p>
    <p>Ce site tend à aider les différents acteurs de ces stages à communiquer des renseignements et 
    à partager des documents.</p>
    <p>
    Le professeur chargé des relations internationales au sein de l'IUT de Lens:<br>
    <table>
        <tr><td style="font-weight: bold">{{admin.nom}} {{admin.prenom}}</td></tr>
        <tr><td>{{admin.email}}</td></tr>
    </table>
    </p>
    
    
{% endblock %}