{# src/SiteRI/SiteBundle/Resources/views/Site/listepartenaires.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Partenaires - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Partenaires</h2>
    <ul>
    {% for partenaire in partenaires %}
            <li><a href="{{ path('risite_partenaire_info',{'id':partenaire.id}) }}" >{{ partenaire.parnom }} - {{partenaire.parpays}} {{partenaire.parville}}</a></li>
    {%endfor%}
    </ul>
{% endblock %}