{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Suppression de compte - {{ parent() }}
{% endblock %}
    
{%block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        Notice: {{ flashMessage }}
    </div>
{% endfor %}
    <h2>Liste des demandes de suppression</h2>
    <ul>
        
        {%for user in liste_users %}
        <li><a href= {{path('risite_supprimeretudiant', {'id' : user.id } )}}>{{user.nom }} {{user.prenom}}</li>
        {%endfor%}
    </ul>
{%endblock%}
