{# src/SiteRI/SiteBundle/Resources/views/Site/partenaire.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Partenaire - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Partenaire: {{partenaire.parnom}}</h2>
    <table>
    <tr><th>Nom :</th> <td>{{partenaire.parnom}}</td></tr>
    <tr><th>Adresse :</th> <td>{{partenaire.paradresse}} - {{partenaire.parville}} - {{partenaire.parpays}}</td></tr>
    <tr><th>Contact(s) :</th> <td>
        {% for contact in partenaire.contacts %}
            <a href="{{ path ('risite_contact_info',{'id' : contact.id}) }}" >{{ contact.contnom }}  {{contact.contprenom}}</a>
        {%endfor %}
    </td></tr>
    {%if partenaire.parcoordonnees is not null %}
    <tr><th>Coordonnées géographique:</th> <td>{{partenaire.parcoordonnees}}</td></tr>
    {%endif%}
        
    </table>
{% endblock %}