{# src/SiteRI/SiteBundle/Resources/views/Site/profil.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block body %}
    <h2><center><u>Profil</u></center></h2>
    <table>
    <tr><th>Nom:</th> <td>{{profil.nom}}</td></tr>
    <tr><th>Prénom:</th> <td>{{profil.prenom}}</td></tr>
    <tr><th>Adresse:</th> <td>{{profil.adresse}}</td></tr>
    <tr><th>Code Postal:</th> <td>{{profil.codepostal}}</td></tr>
    <tr><th>Ville:</th> <td>{{profil.ville}}</td></tr>
    <tr><th>Mail:</th> <td>{{profil.email}}</td></tr>
    {%if profil.tel1 is not null%}
    <tr><th>Téléphone 1:</th> <td>{{profil.tel1}}</td></tr>
    {%endif%}
    {%if profil.tel2 is not null%}
    <tr><th>Téléphone 2:</th> <td>{{profil.tel2}}</td></tr>
    {%endif%}
    {%if profil.ine is not null%}
    <tr><th>INE:</th> <td>{{profil.ine}}</td></tr>
    {%endif%}
    </table>
    <br>
    <h4>Modifier mon profil</h4>
    Les champs avec * sont obligatoires.<br>
    {% include "RISiteBundle:Site:formulaire.html.twig" %}
{% endblock %}