{# src/SiteRI/SiteBundle/Resources/views/Site/profilUser.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Profil</h2>
    <table>
        <tr><th>Nom:</th> <td>{{profil.nom}}</td></tr>
        <tr><th>Prénom:</th> <td>{{profil.prenom}}</td></tr>
        {% if is_granted('ROLE_SECRETARY') or is_granted('ROLE_ADMIN') %}
        <tr><th>Adresse:</th> <td>{{profil.adresse}}</td></tr>
        <tr><th>Code Postal:</th> <td>{{profil.codepostal}}</td></tr>
        <tr><th>Ville:</th> <td>{{profil.ville}}</td></tr>
        {%endif%}
        <tr><th>Mail:</th> <td>{{profil.email}}</td></tr>
        {% if is_granted('ROLE_SECRETARY') or is_granted('ROLE_ADMIN') %}
            {%if profil.ine is not null%}
                <tr><th>INE:</th> <td>{{profil.ine}}</td></tr>
            {%endif%}
            {%if profil.tel1 is not null%}
                <tr><th>Téléphone 1:</th> <td>{{profil.tel1}}</td></tr>
            {%endif%}
            {%if profil.tel2 is not null%}
                <tr><th>Téléphone 2:</th> <td>{{profil.tel2}}</td></tr>
            {%endif%}
        {%endif%}
    </table>
    
        
        
   

{% endblock %}