{# src/SiteRI/SiteBundle/Resources/views/Site/stage.html.twig #}
{% extends "RISiteBundle::layout.html.twig" %}
{% block title %}
    Stage - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{stage.stasujet}}</h2>
    <table>
    <tr><th>Dates du stage:</th> <td> du {{stage.stadebut|date('d-m-Y')}} au {{stage.stafin|date('d-m-Y')}}</td></tr>
    {%if stage.etudiant is not null %}
    <tr><th>Etudiant:</th> <td><a href="{{ path('risite_profil2',{'id':stage.etudiant.id}) }}" >{{stage.etudiant}}</a></td></tr>
    {%endif%}
    <tr><th>Formation:</th><td>{{stage.formation.forlibelle}} (Département {{stage.formation.departement.dptlibelle}})</td></tr>
    <tr><th>Partenaire:</th><td><a href="{{ path('risite_partenaire_info',{'id':stage.contactprincipal.partenaire.id}) }}" >{{stage.contactprincipal.partenaire.parnom}} - {{stage.contactprincipal.partenaire.parpays}}</td><tr>
    {% if is_granted('ROLE_USER')%}
    <tr><th>Contact principal:</th> <td><a href="{{ path ('risite_contact_info',{'id' : stage.contactprincipal.id})}}">{{stage.contactprincipal.contnom}} {{stage.contactprincipal.contprenom}}</a></td></tr>
    {%endif%}
    
        
    </table>
{% endblock %}